* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-princ: rgb(0, 188, 245);
    --cor-preto: black;
    --cor-branco: white;
}

/* CLASSES--------------------------------------------------- */

.container {
    margin: 0 25%;
}

/* ELEMENTOS--------------------------------------------------- */

body {
    background-color: var(--cor-princ);
    text-align: center;
}

h1 {
    color: var(--cor-branco);
    font-family: 'Roboto', monospace;
    font-size: 56px;
    font-weight: bold;
    margin: 150px 0;
}

input {
    padding: 15px;
    font-size: 16px;
    border: 2px solid var(--cor-princ);
    border-radius: 5px;
}

/* IDs--------------------------------------------------- */

#top {
    background-color: var(--cor-branco);
    padding: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 0;
    align-items: center;
}
