body {
    background-color: #111827;
    margin: 25px 150px 25px 150px;
}

main {
    background-color: white;
    padding: 1px 30px 30px 30px;
    border-radius: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

ul li {
    font-size: 20px;
}

.formulario {
    font-size: 22px;
}

.formulario button {
    font-size: 30px;
}

footer {
    font-size: 40px;
}