:root {
    --cor-principal: black;
    --cor-secundaria: lime;
    --fonte-principal: "Orbitron", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

body {
    background-color: black;
}

#pagina {
    max-width: 850px;
    margin-inline: auto;
}

h1 {
    text-align: center;
    margin: 70px auto;
    margin-bottom: 140px;
    font-size: 60px;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#links a {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-principal);
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}

#links a:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}